.filterCity {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; // Center everything on the page

    .MuiTabs-root {
        width: 100%; // Ensure tabs take full width
        margin-bottom: 10px;
    }

    .MuiTab-root {
        font-size: 1rem;
        text-transform: none;
        font-weight: bold;
    }

    .filterGrid {
        width: 100%; // Make sure the grid container takes full width of its parent
        display: flex;
        flex-wrap: wrap; // Allow wrapping of items
        gap: 5px;

        .filterItems {
            flex: 2 1 66%; // Filters take about two-thirds of the space
            display: grid;
            grid-template-columns: repeat(2, 1fr); // Create two columns for filters
        }

        .actionButtons {
            flex: 1 0 33%; // Buttons take about one-third of the space
            display: flex;
            flex-direction: column;
            justify-content: space-between; // Space between buttons
            height: 100px; // Minimize height to ensure compact layout
            align-items: center; // Center buttons within the area

        }

        .MuiTextField-root {
            width: 95%; // Ensure text fields take full width of grid column
            margin: 5px;
        }

        .MuiButton-root {
            width: 100%; // Buttons take full width of their container
            margin-top: 10px;

            transition: all 0.4s ease;

            &:hover {
                scale: 1.05;
            }
        }
    }
}